@import './icons';

$notificationHeight: 2.3em;
$spaceBetweenNotifications: 5px;

$breakIntoEnterDuration: 1s;
$breakIntoLeaveDuration: 800ms;
$notificationAddingSpeed: 500ms;
$notificationEnterDelay: ($notificationAddingSpeed - 200);
$breakIntoLeaveDelay: ($breakIntoLeaveDuration - 200);

$notificationTextColor: #7a7a7a;

.notifier {
  bottom: 0;
  left: 0;
  position: fixed;
  margin: 0 0 10px 10px;

  .container {
    & > * {
      margin-top: $spaceBetweenNotifications;
    }
    & > *:first-child {
      margin-top: 0;
    }

    .notification-wrapper {
      transition-property: height, margin-top;
      transition-timing-function: ease-out;
      transition-duration: $notificationAddingSpeed;
      height: $notificationHeight;

      &.break-into-enter  {
        height: 0;
        margin-top: 0;
        .notification {
          opacity: 0;
          transform: translate3d(-100%, 0, 0);
        }
        &.break-into-enter-active {
          height: $notificationHeight;
          margin-top: $spaceBetweenNotifications;
          .notification {
            opacity: 1;
            transform: translate3d(0, 0, 0);
            transition-duration: $breakIntoEnterDuration;
            transition-delay: $notificationEnterDelay;
          }
        }
      }
      &.break-into-leave {
        height: $notificationHeight;
        margin-top: $spaceBetweenNotifications;
        .notification {
          opacity: 1;
        }
        &.break-into-leave-active {
          height: 0;
          margin-top: 0;
          transition-delay: $breakIntoLeaveDelay;
          .notification {
            opacity: 0;
            transform: translate3d(-100%, 0, 0);
            transition-duration: $breakIntoLeaveDuration;
          }
        }
      }

      .notification {
        display: inline-flex;
        align-items: center;

        transition-property: opacity, transform;
        transition-timing-function: ease-out;

        & > * {
          display: inline-block;
        }

        .notification-msg {
          position: relative;
          margin: 0 10px;
          color: $notificationTextColor;
          letter-spacing: 1px;
          line-height: 1.1;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          max-height: $notificationHeight;
          display: -webkit-box;
          overflow: hidden;
          text-overflow: ellipsis;
          padding: 0 4px;
        }
      }
    }
  }
}